/*
  Default Theme
*/

// Colors
@default-bg: #f0f0f0;
@default-light: #fafafa;
@default-dark: #222;
@default-darker: #060606;
@default-gray: #aaa;


body.theme-default {
  background:@default-bg;
  color:@default-dark;
}

nav#nav {

}
